fastapi[all]
uvicorn 
sqlalchemy 
psycopg2
pandas
PyPDF2
pdfminer.six
easyocr
pdf2image
matplotlib
pillow
opencv-python-headless
keras 
keras-ocr
tensorflow
openpyxl
databases
databases[postgresql]
asyncpg
